body{
    background-image: linear-gradient(100deg, #575656, #062e3f);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    padding-top: 3%;
    position: relative;
}

@keyframes topToBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}
.alert{
    animation: topToBottom 0.5s ease-in-out;
    border-radius: 0.25rem;
}